@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
    padding: 0%;
    margin: 0%;
    border: none;
}

/* menu with header */
#menu {
    font-size: 90%;
    letter-spacing: 2px;
    font-family: 'open sans', Times, serif;
    padding-right: 15px;
    

    
    
    
    
}


#gran-logo {
    
    font-family: 'open sans', sans-serif;
    float: left;
    font-weight: 500;
    font-size: 200%;
    color: rgb(17, 17, 17);
    padding-left: 15px

}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    
    
    
    
}

#menu, #gran-logo {
    line-height: 60px;
    

}
#menu li a {
    color: rgb(0, 41, 102);
}
    
 


#menu a {
    text-decoration: none;
    
    
}
#menu a:hover {
    border-bottom: 1px solid;
}
/*Fonts*/
p {
    font-family: 'open sans', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

h1, h2 ,h3 {
    font-family: 'open sans' , sans-serif;
    font-weight: 500;
}
    

.image-row li {
    font-family: 'open sans' , sans-serif;
    font-weight: 400;
    font-size: 14px;
    
}
/*border*/
#gran-border {
    border: 2px;
    padding-top: 2px;
    border-color: black;
    text-align: center;
}




/*image*/
#beach-image {
    height: 350px;
	width: 100%;
    background:local url(../image/beach-desert.jpg) no-repeat center center;
	overflow: hidden;
    background-size: cover;
    
    
    
    
}
#sanddunes-image {
    height: 350px;
	width: 100%;
    background:local url(../image/sand-dunes-maspalomas.jpg) no-repeat center center;
	overflow: hidden;
    background-size: cover;
    
        
    
    
    
}
#sunset-image {
    height: 350px;
	width: 100%;
    background:local url(../image/sunset.jpg) no-repeat center center;
	overflow: hidden;
    background-size: cover;
    
        
    
    
    
}
/*Gran-info*/

.canaria-image {
	display: flex;
    
	
	
  }
  
  .image-row {
	flex: 25%;
	padding: 5px;
    padding-top: 25px;
  }
.image-row li {
	list-style-type: none;
}

/*social-links footer*/
#social-links {
    background-color:rgb(235, 200, 148);
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
    bottom: 0;
    
}

    
    #social-links a {
     text-decoration: none;
    } 
 

    

    /*info-Sights*/
   #sights-info {
        margin: 0 auto;
        font-size: 10px;
        font-family: 'open sans' , sans-serif;
        font-weight: 500;
        padding-top: 105px;
        padding-left: 15px;
        text-align: center;
        float: left;
        clear: both;
        color: rgb(59, 2, 2);
        
       
        
        
        
    }
    
    #sights-bg {
        
        width: 180px;
        height: 180px;
        padding: 30px;
        border-style: solid;
        border-color: rgb(17, 17, 17);
        border-width: 1px;
        border-radius: 50%;
        margin: 0% auto;
        float: left;
        background-color: rgba(235, 200, 148, 0.7);
        
        
    }
    
    
   

    
    #text-info {
        color: rgb(59, 2, 2);
        text-decoration: none;
        text-align: center;
        margin: 0% auto;
        
        
        
        
    }
    
    .text-row {
        vertical-align:top;
        display:inline-block;
        width: 125px;
        height: 125px;
        padding: 30px;
        border-style: solid;
        border-color: rgb(17, 17, 17);
        border-width: 1px;
        border-radius: 50%;
        margin: 30px 30px 0% auto;
        padding-bottom: 15px;
        background-color: rgba(235, 200, 148, 0.7);
        
        
        
    }
    
    
   
    #ocean {
        
       margin-bottom: 8px;
       margin: 0% auto;
       
    }
    /*gallery*/

    


    .relax {
        display: flex;
        flex-direction: row;
        margin: 10px 10px 2px 10px;
        justify-content: space-between; 
        width: 32.5%;
         
        
        
        
        
    }
    .relax img {
    display: flex;
    width: 100%;
    padding-top: 25px;
    flex-direction: column;
    padding: 2px;
    padding-bottom: 4px;
    }
    
    
    
    
    
    
    /* media queries medium*/
    @media screen and (max-width: 950px) {

        .canaria-image {
                display: inherit;
                column-count: 2;

              
                
        }
        .relax {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
        
        
        }
        #social-links {
            position: static;
        } 
       
            
        }
 

/* media queries small*/

@media screen and (max-width: 500px) {

.image-row, .canaria-image {
        display: inline;
        column-count: 1;
    
      
        
}
.relax {
    
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
        
        
        
}
#social-links {
    position: static;
} 

    
}